<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactBaseApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <%= render "layouts/navigation" %>
        <%= render "layouts/flashes" %>
      </div>
    </header>
    <main class="wrapper" role="main" id="primary-content">
      <div id="barba-wrapper">
        <div class="barba-container">
          <%= yield %>
        </div>
      </div>
      <% if user_signed_in? && !admin_signed_in? %>
        <%= yield :sidebar %>
      <% end %>
    </main>
    <footer class="footer">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
